@{
    ViewBag.Title = "DeleteTrack";
}
@model PresentationYandexMusic.Areas.Admin.ViewModel.Track.DeleteTrackViewModel

<form class="Form" action="/Admin/AdminTrack/DeleteTrack/@Model.Id" method="post" enctype="multipart/form-data">
    <h3>Вы уверены что хотите удалить этот трек</h3>
    <img src="/Admin/AdminTrack/GetTrackImage?Id=@Model.Id" width="200" height="200" />
    <p>@Model.Name</p>
    <input type="submit" value="Удалить трек" class="btn btn-danger"/>
</form>

<link href="~/Content/StyleItemDelete.css" rel="stylesheet"/>
