@{
    ViewBag.Title = "EditAlbum";
}
@model PresentationYandexMusic.Areas.Admin.ViewModel.Album.EditAlbumViewModel

<link href="~/Content/ColorValidation.css" rel="stylesheet" />
<link href="~/Content/StyleFormEdit.css" rel="stylesheet" />

<form class="Form" action="/Admin/AdminAlbum/EditAlbum" data-ajax="true" data-ajax-update="#result" method="post" enctype="multipart/form-data">
    <div id="result">
        @{Html.RenderPartial("FormEditAlbum", Model);}
    </div>
</form>

@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/SolutionAjaxForm.js"></script>
}