
@{
    ViewBag.Title = "AdminLoyout";
}

<a href="/Admin/Admin/CreateTrack">CreateTrack</a><br/>
<a href="/Admin/Admin/CreateGenre">CreateGenre</a><br />
<a href="/Admin/Admin/CreateSinger">CreateSinger</a><br />
<a href="/Admin/Admin/CreateAlbum">CreateAlbum</a><br />
<a href="/Admin/Admin/CreatePlaylist">CreatePlaylist</a><br />
<a href="/Admin/Admin/GetTrack?id=1">GetTrack</a><br />